# Elastic Cloud Serverless Observability
# Kibana: https://otel-demo-a5630c.kb.us-east-1.aws.elastic.cloud/
ES_URL=https://otel-demo-a5630c.es.us-east-1.aws.elastic.cloud
KIBANA_URL=https://otel-demo-a5630c.kb.us-east-1.aws.elastic.cloud
NEXT_PUBLIC_KIBANA_URL=https://otel-demo-a5630c.kb.us-east-1.aws.elastic.cloud
ELASTICSEARCH_URL=https://otel-demo-a5630c.es.us-east-1.aws.elastic.cloud
ES_API_KEY=
ELASTICSEARCH_API_KEY=
